<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="login-sigin/styles.css">
</head>
<body>
    <h1>Login</h1>
    <form id="login" method="post">
        <input type="text" id="username" placeholder="Username" name="username" required>
        <input type="email" id="email" placeholder="Email" name="email" required>
        <input type="password" id="password" placeholder="Password" name="password" required>
        <button type="submit">Login</button>
    </form>
    <p>Have already a account <a href="signup">Sigin Up</a></p>
    
</body>
</html>
