<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRAVEL API Results</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Turret+Road:wght@200;300;400;500;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Turret+Road:wght@200;300;400;500;700;800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="prototype.css">
</head>

<body>
    <header>
        <a href="#" class="logo">EWxp</a>
    
      </header>
    <div class="main">
       
        <div class="div" id="resultsDiv">
            <!-- Results will be displayed here -->
        </div>
    </div>

    <script>
        let productDiv = document.querySelector(".div");
        async function places(searchQuery) {
            try {
                productDiv.innerHTML = ``;
                let product = await fetch(`https://freetestapi.com/api/v1/destinations?search=${searchQuery} `);
                let finalProduct = await product.json();
                console.log(finalProduct);
                finalProduct.forEach(dest => {
                    productDiv.innerHTML += productDiv.innerHTML += ` <div class="container">
    <div class="box1">
      <img src="${dest.image}" alt="">
    </div>

    <div class="box1" id="box2">
      <h3>${dest.name} | ${dest.country}</h3>
      <hr style="height:2px;border-width:0;color:gray;background-color:gray">
      <h4 class="sub-heading">About :</h4>
      <p>${dest.description}</p>
                  <h6>Best time to visit :</h6><p>${dest.best_time_to_visit}</p>
            <h6>Tourists Places :</h6><p>${dest.top_attractions}</p>
            <h6>What you experience :</h6><p>${dest.activities}</p>
            <h6>Popular dishes :</h6><p>${dest.local_dishes}</p>
            <h6>Their language and currency :</h6>
            <p>${dest.language} | ${dest.currency}</p>
      <hr style="height:2px;border-width:0;color:gray;background-color:gray">



    </div>

  </div>`;

                });
            } catch (error) {
                console.error('Error fetching or parsing data:', error);
            }
        }

        // Get the search query from localStorage
        const searchQuery = localStorage.getItem('searchQuery');

        // Call the places function with the search query
        if (searchQuery) {
            places(searchQuery);
        } else {
            console.error('No search query found.');
        }
    </script>
</body>

</html>
